body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
}

.radio-group {
    position: relative;
}

.radio {
    display: inline-block;
    height: 64px;
    border-radius: 0;
    background: #eee;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    cursor: pointer;
    margin: 8px 25px 8px 0px
}

.radio:hover {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2)
}

.link {
    text-decoration: none;
}

.input-container, .col-md-6, .col-md-5, .col-md-3, .col-md-12 {
    margin-top: 20px !important;
}

#regForm {
    padding: 50px;
    padding-top: 10%
}

#nextBtn:hover {
    color: white !important;
}

#nextBtn {
    margin: 20px;
    color: #1E50A0 !important;
}

#prevBtn {
    margin: 20px;
    color: #1E50A0 !important;
}

#prevBtn:hover {
    color: white !important;
}

label {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 5px;
    color: #636363;
    margin-bottom: 15px
}

h5 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */


    color: #1B1B1B;
}

/***** background */
.bg-1 {
    background: #1A8BB3;
    color: #fff;
}

.bg-2 {
    background: #7FC8A9;
    color: #fff;
}

.bg-3 {
    background: #FA8072;
    color: #fff;
}

.bg-4 {
    background: #F6D167;
    color: #fff;
}

.bg-5 {
    background: #DF2E2E;
    color: #fff;
}

.bg-6 {
    background: #989898;
    color: #fff;
}

.bg-7 {
    background: #F3F3F3;
}

.bg-8 {
    background: #616161;
}

.bg-9 {
    background: #8d8d8d;
}

.bg-10 {
    background: #D22F27;
}

.bg-11 {
    background: #eaeaea;
}

.bg-white {
    background: #fff;
}

.bg-none {
    background: none;
}

/***** color */
.color-1 {
    color: #1A8BB3;
}

.color-2 {
    color: #7FC8A9;
}

.color-3 {
    color: #FA8072;
}

.color-4 {
    color: #F6D167;
}

.color-5 {
    color: #DF2E2E;
}

.color-6 {
    color: #989898;
}

.color-7 {
    color: #F3F3F3;
}

.color-8 {
    color: #616161;
}

.color-9 {
    color: #8d8d8d;
}

.color-10 {
    color: #D22F27;
}

.color-11 {
    color: #eaeaea;
}

.color-black {
    color: #000;
}

/***** border */
.bd-1 {
    border: 1px solid #1A8BB3;
}

section {
    padding: 20px 50px;
}

/***** font size */
.fs-30 {
    font-size: 30px;
}

.fs-28 {
    font-size: 28px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

/***** font weight */
.fw-900 {
    font-weight: 900;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

/***** alignment */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/***** button */
button {
    outline: none;
    border: none;
    background: none;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    color: #1E50A0 !important;
}

.btn-1 {
    padding: 17px;
}

.btn-2 {
    padding: 7px 12.5px;
}

.btn-3 {
    padding: 13px 85px;
}

.btn-4 {
    padding: 20px 45px;
}

.btn-5 {
    padding: 15px;
    border-radius: 13px;
}

/***** select input */
.select {
    width: 45px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    height: 50px;
    left: 324px;
    top: 1012px;
}

.select-2 {
    border: 1px solid #C8C8C8;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 12px;
    display: block;
    width: 100%;
    outline: none;
    height: 50px;
    left: 324px;
    top: 1012px;
}

/***** text input */
input[type=text] {
    border: 1px solid #C8C8C8;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px;
    display: block;
    width: 100%;
    outline: none;
    height: 50px;


}

/***** containers */
.double-container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
}

/***** navigation */
.navigation .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #E5E5E5;
}

.navigation .top .left,
.navigation .top .right {
    display: flex;
    align-items: center;
}

.navigation .top .left img {
    margin-right: 5px;
}

.navigation .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .bottom span {
    margin-right: 70px;
}

.navigation .bottom span:last-child {
    margin: 0;
}

.navigation .back {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

/***** country category */
.country-category {
    padding: 0 335px;
}

.country-category .card-container {
    margin: 50px 0;
}

.country-category .card-container .card {
    height: 142px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.country-category .card-container .card .inner {
    padding: 35px;
}

/***** purchase */
.purchase {
    padding: 0 123px;
}

.purchase .card-container {
    margin: 50px 0;
}

.purchase .card-container .card {
    padding: 24px 155px 24px 45px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.purchase .card-container .card .currency {
    margin-left: 18px;
}

.purchase .card-container .card .quantity {
    margin: 0 13px;
}

.purchase .card-container .card .quantity-summary {
    margin-left: 13px;
}

/***** cart */
.cart {
    padding: 0 123px;
}

.cart .cart-container {
    margin: 50px 0;
}

.cart .cart-container .card {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    border-radius: 5px;
    margin-bottom: 25px;
}

.cart .cart-container .heading {
    margin-bottom: 15px;
}

.cart .cart-container .card-item {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #c2c2c2;
    padding: 20px;
}

.cart .cart-container .card-item:first-child {
    justify-content: flex-start;
    padding-left: 45px;
}

.cart .cart-container .card-item:last-child {
    justify-content: flex-end;
    border: none;
    padding-right: 45px;
}

.cart .cart-container .card-item .remove-icon {
    margin-right: 8px;
}

.cart .cart-container .total {
    text-align: right;
}

.cart .cart-container .total .price {
    margin-left: 22px;
}

.cart .cart-container .button-container {
    margin: 83px 0 50px 0;
    text-align: right;
}

/***** form page */
.form-page {
    padding: 0 180px;
}

.form-page form {
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    padding: 60px 50px;
    margin: 45px 0;
}

.form-page form .form-section {
    margin-bottom: 55px;
}

.form-page form .form-section .title {
    margin-bottom: 18px;
}

.form-page form .form-section .input-container {
    margin-bottom: 10px;
}

.form-page form .form-section .input-container .label {
    margin-bottom: 15px;
    color: black;
}

.form-page form .button-container {
    text-align: right;
    margin-top: 35px;
}

.form-page form .button-container button {
    margin-left: 28px;
}

.form-page form .flutterwave {
    margin-top: 23px;
}

/* .form-page form .form-section .input-container input{
} */


/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */

/* start laptop version */
@media screen and (max-width: 2450px) {
}

/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */

/* tab version */
@media screen and (max-width: 1024px) {
    section {
        padding: 20px;
    }

    /***** cart */
    .cart {
        padding: 0;
    }

    /***** country category */
    .country-category, .form-page {
        padding: 0;
    }

    /***** form page */
    .form-page form {
        padding: 30px 0;
    }
}

/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */

/* mobile version */
@media screen and (max-width: 800px) {
    .cart .cart-container .card {
        grid-template-columns: 2fr 1fr 2fr 2fr;
    }
}

/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */

/* mobile version */
@media screen and (max-width: 468px) {
    #nextBtn {
        margin: 0;

    }

    form h5{
        font-size: 21px;
        padding: 0px 17px;
    }

    #prevBtn {
        margin: 0;

    }

    section {
        padding: 0px;
    }

    button {
        display: block;
        width: 100%;
    }

    .double-container {
        display: block;
    }

    #regForm {
        padding: 10px;
        padding-top: 10%
    }

    /***** navigation */
    .navigation {
        display: none;
    }

    /***** cart */
    .cart .cart-container .card {
        display: block;
    }

    .cart .cart-container .card-item {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: none;
        border-bottom: 1px solid #c2c2c2;
        padding: 20px;
    }

    .cart .cart-container .card-item:first-child {
        justify-content: center;
        padding-left: 20px;
    }

    .cart .cart-container .card-item:last-child {
        justify-content: center;
        padding-right: 20px;
    }

    /***** form page */
    .form-page form {
        box-shadow: none;
        border: none;
    }

    .form-page form .button-container button {
        margin: 0 0 28px 0;
    }

    /***** purchase */
    .purchase {
        padding: 0;
    }

    .purchase .card-container .card {
        padding: 24px 20px;
        display: block;
    }

    .purchase .card-container .card .purchase-name {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .purchase .card-container .card .btn-2 {
        display: inline-block;
        width: auto;
    }
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #BBBEFF;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
    float: none;
}

.iti--allow-dropdown {
    width: 100%;
}

#backbutton {
    margin-bottom: 190px;
}

.login_information p {
    font-weight: bolder;
}

.iti {
    width: 100%;
}

.show_required {
    color: red;
}

.choices__input {
    width: 100%;
    margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
    .bs-stepper-header {
        display: block;
        align-items: center;
    }
}

#descript {
    margin-top: 20px;
    width: 90%;
}


.radio {
    display: inline-block;
    height: 64px;
    border-radius: 0;
    background: #eee;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    cursor: pointer;
    margin: 8px 25px 8px 0px
}

.radio:hover {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2)
}

.radio.selected {
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.4)
}

@media screen and (max-width: 600px) {
    .radio {
        width: 100%
    }
}
