p{
    color:#1B1B1B
}
#nav-btn {
    border: 1px solid #fff !important;
    color: #fff !important;
}
.background-image-holder{
        background-color:#1E50A0 !important;
    }
span , h2{
font-family: nunito !important;
font-size: 14px !important;
font-style: normal !important;
color:#FFFFFF;
}
label{
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
}
#child{
margin:20px;
font-family: Nunito;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 150%;
/* or 24px */



}
v{
font-family: Nunito !important;
font-style: normal !important;
font-weight: bold !important;
font-size: 15px !important;
line-height: 25px !important;
}
.header h3{

font-family: Nunito;
font-style: normal !important;
font-weight: 600 !important;
font-size: 22px !important;
line-height: 30px!important;
text-align: center !important;

color: #1B1B1B;

}
h1{
font-family: Nunito !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 40px !important;
line-height: 55px !important;
color: #636363 !important;
}
.menu li a{
font-family: nunito !important;
font-size: 14px !important;
font-style: normal !important;
font-weight:lighter  !important;


}
.bg-sky{
background-color:#F0F5F7;
color:#1B1B1B;

}

.alert-blue{
background-color: #87CEEB;
}

#banner-writeup{
/* position: absolute; */
/* width: 533.98px; */
/* height: 188.71px; */
/* left: 107.96px; */
/* top: 290.29px; */
/* or 33px */
color: #FFFFFF;
}

#banner-writeup{
font-family: Nunito !important;
font-style: normal !important;
font-size: 22px !important;
line-height: 150% !important;

}



/* start laptop version */
@media screen and (min-width: 1025px) {

#banner2{
    padding-left:150px !important;
    padding-right:150px !important;
}
#banner-writeup-container a{
  
    margin-left:-350px !important;
} 

#banner-writeup{
    font-family: Nunito !important;
    font-style: normal !important;
    font-size: 22px !important;
    line-height: 150% !important;
    text-align:left !important;
}

}

/* start laptop version */
@media screen and (max-width: 800px) {
#banner-writeup2{
    display:none;
}
}


    body {
        font-size: 14px;
       
        padding: 0;
        margin: 0;
    }
    .font-30 {
        font-size: 30px;
    }
    .header{
        padding:100px;
        display:grid;
        grid-template-columns:3fr 1fr;
    }

    .shadow {
    position: relative;
    box-shadow: 0 0 25px 0 rgba(50,50,50,.3) inset;
    }

    .shadow:after {
    content: "";
    position: relative;
    }

    .curved:after, .curved-2:after {
    position: relative;
    z-index: -2;
    }
    .page-header{
        height:600px !important;
        /* position: none !important; */
    }
    .curved:after {
    position: absolute;
    top: 50%;
    left: 12px;
    right: 12px;
    bottom: 0;
    box-shadow: 0 0px 10px 7px rgba(100,100,100,0.5);
    border-radius: 450px / 15px
    }
        table{
            border-collapse:collapse;
            /* width:1000px; */
            /* margin-top:20px; */
            width:100%;
        }
        thead{
            border-bottom:.5px solid #293459;
        }
        th{
            color:#FD6244;
            border:2px solid #fff;
            padding:15px;
            border-top:none;
        }
        /* img{
            width:10px;
            margin-left:10px;
        } */
        tr{
            text-align:center;
        }
        tr:nth-child(odd){
            background:#A6C3E0;
        }
        tr:nth-child(even){
            background:#d4e9ff;
        }
        td{
            padding:15px;
            border:2px solid #fff;
        }
        .icon{
            height:50px;
            width:auto;
        }
        th:last-child, td:last-child{
            border-right:none;
        }
        th:first-child, td:first-child{
            border-left:none;
        }
    
    .card {
        margin-bottom: 1.5rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.025);
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #e5e9f2;
        border-radius: .2rem;
    }
    .accordion li.active .text {
        padding: 24px;
        max-height: 1500px !important;
        border-bottom: 2px solid #dadada;
        opacity: 8 !important;
    }
    .background-image-holder.parallax-background {
    height: 140%;
    top: -33%;
    }
    .content{
        width:80vw;
        margin:auto;
    }
    .header{
        display:flex ;
    }

    .fs-18{
        font-size:18px;
    }
    
    .h{
        text-align:center;
        margin:30px 0;
        font-weight:500;
    }
    
    .table{
        background: #FFFFFF;
        border-radius: 7px;
        font-weight:600;
    }
    .table .table-item{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        padding:15px 63px;
        border-bottom:1px solid #eeeeee;
        align-items:center;
        transition:.4s ease-in-out all;
        min-height:75px;

    }
    .table .table-head{
        background:#0C6685;
        padding:35px 63px;
        color:#fff;
        border-radius:7px 7px 0 0;
        border:none;
    }
    .table .table-item div{
        width:206px;
        padding-right:0px;
    }
    .table .table-item div:last-child{
        padding:0;
    }
    .table .table-item-2{
        grid-template-columns:1fr 2fr;
    }
    .table .table-item-2 .table-col-2{
        text-align:center;
        width:100%;
    }

    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */

    /* start laptop version */
    @media screen and (max-width: 2450px) {
       
    }

    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */

    /* tab version */
    @media screen and (max-width: 1024px) {
        
        .table .table-item div{
            width:auto;
            padding-right:50px;
        }
    }

    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */

    /* mobile version */
    @media screen and (max-width: 800px) {
        .background-image-holder.parallax-background {
            height: 140%;
            top: -33%;
            }
        .inner{
            display:flex;
            flex-wrap:nowrap;
            overflow:hidden;
            overflow-x:auto;
        }
        /* .table{
            width:1000px;
        } */
        .table .table-item{
            width:700px;
            /* min-width:150px; */
        }
        .table .table-item div{
            width:auto;
            padding-right:60px;
        }
    }

    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */

    /* mobile version */
    @media screen and (max-width: 468px) {
        #h9{
            text-align:center;
            font-size: 40px !important;
            line-height: 50px !important;
        }
        .background-image-holder.parallax-background {
            height: 140%;
            top: -33%;
            }
    }


.link{
    text-decoration:none;
    color:white;
}
#UAE_depart{
    padding:5%; 
    padding-top:5%;
    padding-bottom:5%;
    /* height:350px; */
    border-radius:25px !important;
    background:#FFC43D;
}
#UAE_depart .panel-body{
 height:430px;
}

#UAE_depart1{
     padding:5%;
     padding-top:5%;
     padding-bottom:5%;
     /* height:350px; */
     border-radius:25px !important;
     
}
#UAE_depart1 .panel-body{
    height:430px;
   }

/***** background */
.bg-1 {
    background: #1E50A0;
    color: rgb(19, 17, 17);
}
.bg-2 {
    background: #7FC8A9;
    color: rgb(27, 25, 25) !important;
}
.bg-3 {
    background:#BBBEFF;
    color:rgb(15, 13, 13)  !important;
}
.bg-6 {
    background:#efb918 !important;
        color: rgb(24, 20, 20) ;
    }
.bg-4{
    background:#FFF9C4 !important;
    color:rgb(29, 24, 24) !important;
}
.bg-5{
    background:#FF0000 !important;
    color:rgb(15, 12, 12) !important;
}

.bg-7{
    background:#F3F3F3;
}
.bg-8{
    background:#616161;
}
.bg-9{
    background:#8d8d8d;
}
.bg-10{
    background:#FFE4E4 !important;
    color:rgb(14, 10, 10);
}
.bg-11{
    background:#FFF9C4 !important;
    color:rgb(19, 15, 15);
}
.bg-white{
    background:#fff;

}
.bg-none{
    background:none;
}

/***** color */
.color-1{
    color:#1A8BB3;
}
.color-2{
    color:#7FC8A9;
}
.color-3{
    color:#FA8072;
}
.color-4{
    color:#F6D167;
}
.color-5{
    color:#DF2E2E;
}
.color-6{
    color:#989898;
}
.color-7{
    color:#F3F3F3;
}
.color-8{
    color:#616161;
}
.color-9{
    color:#8d8d8d;
}
.color-10{
    color:#D22F27;
}
.color-11{
    color:#eaeaea;
}
.color-black{
    color:#000;
}



/***** font size */
.fs-30 {
    font-size: 30px;
}
.fs-28{
    font-size:28px;
}
.fs-20{
    font-size:20px;
}
.fs-18{
    font-size:18px;
}
.fs-16{
    font-size:16px;
}

/***** font weight */
.fw-700{
    font-weight:700;
}
.fw-600{
    font-weight:600;
}
.fw-500{
    font-weight:500;
}

/***** alignment */
.text-center{
    text-align:center;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}

/***** containers */
.double-container{
    display:grid;
    grid-template-columns:repeat(2, 40%);
    justify-content:space-between;
}

/***** country category */
.country-category{
    padding:0 2px;
}
.country-category .card-container{
    margin:50px 0;
}
.country-category .card-container .card{
    height:142px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:30px;
}
.country-category .card-container .card .inner{
    padding:40px;
}


/* start laptop version */
@media screen and (max-width: 2450px) {
}

/* tab version */
@media screen and (max-width: 1024px) {
    section{
        padding:50px;
    }

    /***** cart */
    .cart{
        padding:0;
    }

    /***** country category */
    .country-category, .form-page{
        padding:0;
    }

    /***** form page */
    .form-page form{
        padding:50px 0;
    }
}


/* mobile version */
@media screen and (max-width: 800px) {
    .page-header{
        height:600px !important;
    }
    .cart .cart-container .card{
        grid-template-columns:2fr 1fr 2fr 2fr;
    }
}


/* mobile version */
@media screen and (max-width: 468px) {
    section{
        padding:50px 20px;
    }

    button{
        display:block;
        width:100%;
    }

    .double-container{
        display:block;
    }

    /***** navigation */
    .navigation{
        display:none;
    }

    /***** cart */
    .cart .cart-container .card{
        display:block;
    }
    .cart .cart-container .card-item{
        height:auto;
        display:flex;
        align-items:center;
        justify-content:center;
        border-right:none;
        border-bottom:1px solid #c2c2c2;
      
    }
    .cart .cart-container .card-item:first-child{
        justify-content:center;
       
    }
    .cart .cart-container .card-item:last-child{
        justify-content:center;
        
    }

    /***** form page */
    .form-page form{
        box-shadow:none;
        border:none;
    }
    .form-page form .button-container button{
        margin:0 0 28px 0;
    }
}

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  